<div id="EnvironmentAddNewContainer">
    <form id="Form">
        <!-- ko stopBinding: true -->
        <div id="EnvironmentProfileContainer"></div>
        <!-- /ko -->
        <br /><div id="validation_summary" class="error"></div><br />
        <a id="SubmitButton" class="submitButton" data-bind="click: onFormSubmit">@Resources.Submit</a>
    </form>
</div>