<div id="MigrationBatchAddNewContainer">
    <form id="Form">
        <!-- ko stopBinding: true -->
        <div id="MigrationBatchProfileContainer"></div>
        <div id="AddMailboxesViewContainer"></div>
        <!-- /ko -->
        <br /><div id="validation_summary" class="error"></div><br />
        <a id="SubmitButton" class="submitButton" data-bind="click: onFormSubmit">@Resources.Submit</a>
        <a id="SubmitButton" class="submitButton" data-bind="click: onCancelClicked">@Resources.Cancel</a>
    </form>
</div>